@font-face {
  font-display: swap;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/lato-v24-latin-300.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato-v24-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/lato-v24-latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/lato-v24-latin-900.woff2") format("woff2");
}

@media (max-width: 3000px){
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
 
.header {
  background: #EDE1D7;
  padding-top: 19px;
  border-bottom: 1px solid black;
  
}

.header__logo{
  display: flex;
  justify-content: center;
  gap: 15px;
}

.logo__img{
  width:60px;
}

li a {
  text-decoration: none;
  color: #A4850F;
}

.menu{
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-top: 20px;
  font-size: 22px;
}
.header__nav{
  display: flex;
  justify-content: center;
}

h1 {
  color: black;
  text-align: center;
  font-weight: normal;
}

.container {
  max-width: 1300px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

.first__screen{
  display: flex;
  flex: wrap;
  justify-content: center;
  background: #EDE1D7;
}
.first__screen__text {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  width: 50%;
}
.first__screen__text_2 {
  color: #A4850F;
  font-size: 50px;
}
.first__screen__text_1 {
  color: black;
  font-size: 50px;
}
.first__screen_button {
  color: white;
  background: #A0695A;
  border-radius: 60px;
  padding: 30px 40px;
  margin-top: 50px;
  font-size: 22px;
  text-decoration: none;
}

.first__img {
  width: 50%;
}

.img {
  width: 100%;
}
.sale__text {
  color: black;
  font-size: 56px;
  text-align: center;
}

#sale {
  background: white;
  padding: 50px;
}

.brands {
  color: black;
  font-size: 34px;
  text-align: center;
}

#brand {
  background: white;
  padding: 70px;
}

.greyblock1 {
  color: white;
  padding: 30px;
  display: flex;
  gap: 5%;
  font-size: 20px;
  align-items: center;
}
.greyblock2 {
  color: white;
  padding: 30px;
  display: flex;
  gap: 5%;
  font-size: 20px;
  align-items: center;
}
.greyblock3 {
  color: white;
  padding: 30px;
  display: flex;
  gap: 5%;
  font-size: 20px;
  align-items: center;
}
.greyblock4 {
  color: white;
  padding: 30px;
  display: flex;
  gap: 5%;
  font-size: 20px;
  align-items: center;
}
.greyblock5 {
  color: white;
  padding: 30px;
  display: flex;
  gap: 5%;
  font-size: 20px;
  align-items: center;
}
.grey__blocks {
  background: #5E5E5C;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 35%;
  margin: 0 auto;
}

.grey {
  background: #5E5E5C;
  margin-top: 30px;
}
.kontacts {
  font-size: 56px;
  text-align: center;
  margin-top: 0;
 }
 .kontact__text {
  background: #EDE1D7;
  padding: 70px;
  margin-bottom: 0;
 }
.map__block {
  background: white;
  padding-top: 50px;
  width: 35%;
  margin: 0 auto;
  font-size: 20px;
}
.map__block_1 {
 color: #A0695A;
 display: flex;
 align-items: center;
 gap: 5%;
 font-weight: bold;
 padding: 30px;
 font-size: 20px;
}
.map__block_2 {
 color: #A0695A;
 display: flex;
 gap: 5%;
 font-weight: bold;
 padding: 30px;
 align-items: center;
}
.map__block_3 {
 color: #A0695A;
 display: flex;
 gap: 5%;
 font-weight: bold;
 padding: 30px;
 align-items: center;
}
.map__block_4 {
 color: #A0695A;
 display: flex;
 gap: 5%;
 font-weight: bold;
 padding: 30px;
 align-items: center;
}
.map__block_5 {
 color: #A0695A;
 display: flex;
 gap: 5%;
 font-weight: bold;
 padding: 30px;
 align-items: center;
}
.map__block_photo {
  width: 40px;
}
.map__block a {
  color: #A0695A;
  text-decoration: none;
  font-weight: bold;
}
.callback-button {
  color: white;
  background: #A0695A;
  border-radius: 60px;
  padding: 30px 40px;
  font-size: 18px;
  text-decoration: none;
}
.map__block_button {
 text-align: center;
 margin-top: 50px;
 margin-bottom: 100px;
}
.ya__map {
 margin: 0 auto;
 width: 80%;
}
.uslugi {
 width: 80%;
 margin: 0 auto;
}
.container__uslugi {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 align-content: center;
 margin: 0 auto;
}
.uslugi p {
 text-align: center;
 font-size: 20px;
 color: black;
 padding: 80px;
}
.parik {
 width: calc(100% / 3.2);
}

.cosmetic {
 width: calc(100% / 3.2);
}
.men {
 width: calc(100% / 3.2);
}
.manic {
 width: calc(100% / 3.2);
}
.eyebrow {
 width: calc(100% / 3.2);
}
.spa {
 width: calc(100% / 3.2);
}

.footer__content {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 background: #5E5E5C;
 gap: 20px;
 padding: 50px;
 font-size: 20px;
}
.footer__text {
 text-align: center;
 color: white;
}
.footer__tel {
 color: white;
}
.button {
  color: white;
  background: #EDE1D7;
  border-radius: 60px;
  padding: 30px 40px;
  font-size: 18px;
  text-decoration: none;
}
.footer__button{
 text-align: center;
 margin-top: 50px;
}
.footer {
 background: #5E5E5C;
}
.freepik {
 color: white;
 font-size: 16px;
 padding: 30px;
}
.header {
 display: block;
}
.hidden__screen {
 display: block;
}
.mobile__screen{
 display: none;
}
.hidden__wrap__screen {
display: none;
}
.hidden__wrap__screen{
 display: none;
}  
}

 @media (max-width: 1000px){
a {
  text-decoration: none;
}
.container {
width: 100%;
}
.header {
 display: none;
}
.hidden__screen {
 display: none;
}
.hidden__first__screen__text p {
 font-size: 48px;
}
.hidden__first__screen__text a {
 font-size: 24px;
}
.mobile__screen{
 display: block;
}
.grey__blocks {
 width: 100%;
}
.map__block{
  width: 100%;
}
.uslugi {
 width: 100%;
}
.uslugi p {
 padding: 50px;
}
.uslugi img {
 width: 100%;
}
.parik {
 width: 100%;
}

.cosmetic {
 width: 100%;
}
.men {
 width: 100%;
}
.manic {
 width: 100%;
}
.eyebrow {
 width: 100%;
}
.spa {
 width: 100%;
}

.hidden__wrap__screen{
 display: block;
 padding-bottom: 70px;
 width: 100%;
}
.hidden__first__screen{
 background: #EDE1D7;
 padding-bottom: 70px;
}
.hidden__first__screen a{
 text-decoration: none;
}
.hidden__img {
  width: 100%;
}
.hidden__first__screen__text {
  width: 100%;
}
.hidden__first__screen__text_2 {
  color: #A4850F;
  margin-left: 30px;
}
.hidden__first__screen__text_1 {
  color: black;
  margin-left: 30px;
  margin-top: 50px;
}
.hidden__first__screen_button_wrap {
 text-align: center;
 margin-top: 120px;
}
.hidden__first__screen_button {
  color: white;
  background: #A0695A;
  border-radius: 60px;
  padding: 30px 40px;
  text-decoration: none;
}
}




